* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    padding: 30px;
}
.header {
    display: grid;

}
.navbar {
    display: grid;
    grid-template-columns: 1fr, repeat(5, 14%);
    grid-template-rows: 1fr;
    gap: 20px;
    text-align: center;
    gap: 10px;
}
.logo, .menu {
  border: 2px solid black;
}
.menu {
    display: grid;
    grid-column: 2/6;
    text-align: center;
    justify-content: space-between;
    margin-left: 150px;
}
.home {
    display: grid;
    grid-column: 1/2;
    grid-row: 1;
}
.about {
    display: grid;
    grid-column: 2/3;
    grid-row: 1;  
}
.services {
    display: grid;
    grid-column: 3/4;
    grid-row: 1;
}
.work {
    display: grid;
    grid-column: 4/5;
    grid-row: 1;
}
.contact {
    display: grid;
    grid-column: 5/6;
    grid-row: 1;
}
.main {
    display: grid;
    border: 2px solid black;
    grid-template-columns: 1fr, repeat(3, 23%);
    grid-template-rows: 100px, 200px, 200px, 300px;
    margin: 20px;
}
.header_1 {
    display: grid;
    justify-items: center;
}
.main_section_1 {
    display: grid;
    grid-template-columns: 1fr repeat(3, 200px);
    grid-template-rows: 100px 1fr;
    gap: 10px;
    padding: 10px;
    border: 2px dotted fuchsia;
}
.text_content_1 {
    display: grid;
    max-width: 450px;
    grid-column: 1/2;
    grid-row: 2;
    border: 2px dotted green;
}
.img_1 {
    display: grid;
    grid-column: 2/3;
    grid-row: 2;
}
.img_2 {
    display: grid;
    grid-column: 3/4;
    grid-row: 2; 
}
.img_3 {
    display: grid;
    grid-column: 4/5;
    grid-row: 2;   
}
.main_section_2 {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-template-rows: repeat(3, 1fr) 15%;
    gap: 10px;
    border: 2px solid orange;
}
.header_2 {
    display: grid;
    grid-row: 1;
    grid-column: 1;
}
.text_content_2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column: 1/5;
    grid-row: 1/2;
    border: 2px dotted blue;
}
.item_1 {
    display: grid;
    grid-column: 1/2;
    grid-row: 3/4;
    margin-right: 30px;
    margin-left: 40%;
}
.item_2 {
    display: grid;
    grid-column: 2/3;
    grid-row: 3;
    margin-right: 30px;
    margin-left: 40%;

}
.item_3 {
    display: grid;
    grid-column: 3/4;
    grid-row: 3;
    margin-left: 40%;
}
.button {
display: grid;
grid-row: 1;
grid-column: 3/4;
width: 92px;
height: 18px;
justify-self: end;
}
.sidebar {
    display: grid;
}
.header_3 {
    display: grid;
    position: absolute;
    justify-self: center;
    align-self: center;
    font-weight: bolder;
    font-size: x-large;
    color: dimgrey;
}
.footer {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 60%, 40%;
    border: 2px dotted yellow;
    background-color: darkslateblue;
    padding: 2%;
}
.footer_item_1 {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;

}
.footer_item_2-1 {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-right: 30px;
    margin-top: 20px;
}
.footer_item_2-2 {
    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;
    margin-right: 30px;
    margin-top: 20px;
}
.footer_item_3 {
    display: grid;
    grid-column: 4/5;
    grid-row: 1/2;
    width: min-content;
    margin-top: 20px;
}
.footer_item_4 {
    display: grid;
    grid-column: 5/6;
    grid-row: 1/2;
}
.container_svg {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 30%;
    height: 30%;
    gap: 20%;
}