* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    padding: 30px;
}
.header {
    display: grid;

}
.navbar {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: 1fr;
    gap: 20px;
    text-align: center;
    gap: 10px;
}
.logo, .menu {
  border: 2px solid black;
}
.menu {
    display: grid;
    grid-column: 2/6;
    text-align: center;
    justify-content: space-between;
    margin-left: 150px;
}
.home {
    display: grid;
    grid-column: 1/2;
    grid-row: 1;
}
.about {
    display: grid;
    grid-column: 2/3;
    grid-row: 1;  
}
.services {
    display: grid;
    grid-column: 3/4;
    grid-row: 1;
}
.work {
    display: grid;
    grid-column: 4/5;
    grid-row: 1;
}
.contact {
    display: grid;
    grid-column: 5/6;
    grid-row: 1;
}
.main {
    display: grid;
    border: 2px solid black;
    grid-template-columns: 1fr, repeat(3, 200px);
    grid-template-rows: 100px, 200px, 200px, 300px;
    margin: 20px;
}
.header_1 {
    display: grid;
    justify-items: center;
}
.main_section_1 {
    display: grid;
    grid-template-columns: 1fr repeat(3, 200px);
    grid-template-rows: 100px 1fr;
    gap: 10px;
    padding: 10px;
    border: 2px dotted fuchsia;
}
.text_content_1 {
    display: grid;
    max-width: 450px;
    grid-column: 1/2;
    grid-row: 2;
    border: 2px dotted green;
}
.img_1 {
    display: grid;
    grid-column: 2/3;
    grid-row: 2;
}
.img_2 {
    display: grid;
    grid-column: 3/4;
    grid-row: 2; 
}
.img_3 {
    display: grid;
    grid-column: 4/5;
    grid-row: 2;   
}
.main_section_2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px) 300px;
    gap: 10px;
    padding: 10px;
}
.header_2 {
    display: grid;
    grid-row: 1;
    grid-column: 1;
}
.text_content_2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1/5;
    grid-row: 1/2;
    border: 2px dotted blue;
}
.item_1 {
    display: grid;
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: 30px;
    margin-right: 30px;
}
.item_2 {
    display: grid;
    grid-column: 2/3;
    grid-row: 3;
    margin-top: 30px;
    margin-right: 30px;
}
.item_3 {
    display: grid;
    grid-column: 3/4;
    grid-row: 3;
    margin-top: 30px;
}
.button {
display: grid;
grid-row: 1;
grid-column: 3/4;
width: 92px;
height: 18px;
justify-self: end;
}
.footer {
    display: grid;
    grid-template-columns: 400px 400px 200px 300px;
    grid-template-rows: 300px 200px;
    border: 2px dotted purple;
    background-color: darkslateblue;
}
.footer_item_1 {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2
}
.footer_item_2 {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-right: 30px;
}
.footer_item_3 {
    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;
}
.footer_item_4 {
    display: grid;
    grid-column: 4/5;
    grid-row: 1/2;
}